@import "./CharacterList.scss";
@import "./CharacterDetail.scss";
@import "./Character.scss";
@import "./FilterN.scss";
@import "../components/Font.scss";

.App {
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  font-family: "RickandMortyFont";
  letter-spacing: 3px;
}

.logo {
  width: 450px;
  padding: 40px 10px;
}

.backToHomepage {
  display: block;
  color: #a8cb50;
  margin: auto;
}
.unfinded__container {
  height: 66.3vh;
}
.unfinded__text {
  font-size: 30px;
  padding: 60px;
  text-transform: uppercase;
}

.unfinded__homepage {
  display: block;
  color: #a8cb50;
  margin: auto;
}

a {
  text-decoration: none;
}
