.character__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: antiquewhite;
  border-radius: 6px;
  padding: 20px;
  width: 200px;
  height: 350px;
  border: 5px solid #a8cb50;
}

.card__img {
  width: 180px;
  border-radius: 6px;
  //margin-top: 20px;
}
.card__title {
  font-size: 18px;
  color: aliceblue;
}

.card__description {
  color: #03abc2;
}

.card__description--1,
.card__description--2 {
  padding: 0px;
  margin: 10px auto;
  font-size: 13px;
}
