.character__container {
  height: 63.1vh;
}

.character__detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid #a8cb50;
  border-radius: 10px;
  width: 750px;
  margin: 40px auto 80px auto;
}
.detail__img {
  width: 200px;
  margin: 30px;
  border-radius: 9px;
}
.card__titleD {
  margin: 0;
}
.card__details {
  text-align: left;
  padding-left: 0;
}
.card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card__details--item {
  padding: 7px 0;
}

.fas,
.fa-smile-wink,
.fa-question-circle .fa-dizzy {
  padding-left: 5px;
  color: #a8cb50;
  font-size: 20px;
}
