.character__list {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
  grid-auto-rows: min-content;
  grid-gap: 30px 20px;
  margin-top: 20px;
  margin-bottom: 0;
  list-style: none;
  padding: 0 40px 60px 40px;
}
.warning__text {
  font-size: 40px;
  padding-top: 60px;
  text-transform: uppercase;
}

.warning__container {
  height: 51.4vh;
}
