@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");
.App {
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  font-family: "Dokdo", cursive;
}

.logo {
  width: 450px;
  padding: 40px 10px;
}
