.character__detail {
  border: 3px solid #a8cb50;
  border-radius: 3px;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
